<h1>About page</h1>
 
<p> Jungle is the store made by Harry Potter selling all the items he got from Gill Bates. All items are extremely overpriced because Harry Potter needs the funds to start his family </p>